* {
    background-color: transparent;
    font-family: 'Fira Sans', 'Roboto', Arial, sans-serif;
}
html {
    background-color: #000;
    background-image: url(
"https://www.transparenttextures.com/patterns/cartographer.png");
    text-shadow: 
    -1px -1px 0.5px #FFF,
     0px  0px 0.5px #000;
    filter: contrast(300%);
}
html>body{
  background-color: transparent !important;
  zoom:120%;
}
h1,h2,h3,h4,h5,h6 {
    color: goldenrod;
    text-shadow: 
    -1px -1px 0.5px #FFF,
     0px  0px 0.5px #000;
}
h2>code, p>code, li>code, div>code {
    background: linear-gradient(#FFF,#09f);
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000,
    -1px -1px 5px #FFF,
    -1px 1px 2px #000,
    1px -1px 2px #000;
    color: #00f;
    font-weight: bold;
    font-size:1.1em;
    margin: 5px;
    padding: 2px;
}
li {
    color: skyblue;
    /* text-shadow: 1px 1px 0.5px; */
}

html>body, p {
  /* font-family: 'fira sans', 'roboto', sans-serif; */
  font-size: 1.2em;
  text-shadow:none;
  color:whitesmoke;
}
h2>code, p>code, li>code, div>code {
    background-color: #09A;
    border-radius: 7px;
    box-shadow: 
      1px 1px 1px #000,
      -1px -1px 1px #FFF,
      -1px 1px 2px #000,
      1px -1px 2px #000;
    color: #00f;
    margin: 5px;
    padding: 2px;
    font-family: 'Fira Mono', monospace;
    text-shadow:none;
    font-size:0.8em
}
body ::selection {
  /*highlighting*/
  background: transparent;
  text-shadow: 
    1px  0px 1px ,
    0px  1px 1px ,
    -1px  0px 1px ,
    0px -1px 1px ,
    0px  1px black ,
    1px  0px black ,
    -1px  0px black ,
    0px -1px black ;
}
i, .highlight, .sololearn{
  color:skyblue;
  font-weight:bold;
  text-shadow: none;
  fill: skyblue;
  margin: 0;
  padding: none;
}
.sololearn{
  position:relative;
  right: 60px;
  height:2em; 
}
.date{
  float: right;
  font-weight: skyblue;
}
#map{
  filter: hue-rotate(180deg) invert(1) brightness(350%) contrast(30%);
}
.screenshot-container{
  height: 200px;
width: 100%;
overflow-y: scroll;
white-space: nowrap;
border: 3px solid white;
border-radius: 20px;
}
.screenshot{
  filter: hue-rotate(0deg) contrast(33%);
  width: 100%;
  height: auto;
  max-height: none;
}
.Responsibilities{
  color: blueviolet;
  font-weight: bolder;
}
.Achievements{
  color: limegreen;
  font-weight: bolder;
}
.tech{
  height: 1.5em;
  margin-right: 3em;
  vertical-align: middle;
}
p > span.tech{
  flex: auto;
  color:turquoise;
}
p.techlist{
  display: flex;
}
#col2 {
  width: 44vw;
  float: right;
  box-sizing: border-box;
}
#col1 {
  width: 44vw;
  padding-right: 3em;
  float: left;
  box-sizing: border-box;
}
#skills-col1{
  float:left;
  width: 40%;
  box-sizing:border-box;
}
#skills-col2{
  float:right;
  width:50%;
  box-sizing:border-box;
}
pre{
  padding:0 !important;
  margin:0 !important;
  overflow: hidden !important;
}
table {
  margin:auto;
}
a:visited, a{
  color:cyan;
}

.project {
  font-size: 2em;
  color: skyblue;
  font-weight: bold;
  margin: 1em auto;
  text-align: center;
}

.github-links {
  font-size: 1.5em;
}
.github-links :hover {
  /* font-size: 1em; */
  color: yellow;
}